<h1>Chat App</h1>

<div id="display"></div>

<div>
  <input id="channel-name" type="hidden" value="/choice"/>
  <input id="password" type="hidden" value="password"/>

  <label>Name:</label>
  <input id="name" type="text"/>

  <div>
    <label>Message:</label>
    <input id="message" type="text"/>

    <button onclick="sendMessage()">Send Msg</button>
  </div>
</div>



<script>setupClientForFaye();</script>
